@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #fffbf1;
}

header{
    padding: 10px;
    background-color: #FFB906;
    height: auto;
}

#main img{
    margin-right:20px;
}

#main{
    font-size: 60px;
    font-weight: 100px;
    font-family: 'Itim', cursive;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#desc{
    text-align: center;
    font-family: 'Itim', cursive;
}

#desc1{
    margin-top:20px;
    font-size: 30px;
    font-weight: 900;

}

#desc2{
    margin-top:10px;
    font-size: 20px;
    font-weight: 900;
}

#searchbar{
    height:80px;
    width: 1000px;
    background-color: #FFE299;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 270px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#searchtext{
    padding: 10px;
    font-size:30px;
    font-family: 'Itim', cursive;
    font-weight: 400;
    justify-content: space-around;
    align-items: center;
}

#input{
    height: 50px;
    width: 200px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color:#FFF4D7;
    padding-right: 20px;
    font-family: 'Itim', cursive;
    font-size: 20px; 
    color: black;
    text-align: center;
}

#input:hover{
    border: none;
}

#search-button{
    height: 50px;
    width:50px;
    border-radius: 10px;
    border: none;
    background-color: #FFF4D7;
    cursor: pointer;
}

#search-button:hover{
    background-color: #FFB800;
}

#tab::placeholder{
    text-align: center;
    color: black;
}

#topic{
    font-family: 'Itim', cursive;
    font-weight: 700;
    font-size: 30px;
    margin-left: 250px;
    margin-top: 30px;
}

#randommeal{
    height:auto;
    width: 300px;
    text-align: center;
    margin-left: 590px;
}

#randommeal:hover{
    opacity: 0.8;
}

#randommeal-Container img{
    margin-top: 20px;
    height: 200px;
    width: 300px;
}

#meal-name{
    font-family: 'Itim', cursive;
    font-weight: 700;
    font-size: 20px;
}

#box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #ffdb7f;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Itim', cursive;
    text-align: center;
    padding: 20px;
    height: 500px;
    width: 500px;
    overflow-y:scroll;
}

#ingredients-list {
    list-style-type:none;
    text-align: center;
    padding: 10px;
}

#ingredients-list li {
    margin: 10px 0;
}

#subtopic{
    font-size: 20px;
    font-weight: 600;
}
        
#search-results{
    display: grid;
    grid-template-columns: repeat(3 , 350px);
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    gap:50px;
    text-align: center;
    margin: 100px;
    font-family: 'itim' , cursive;
}

#search-results img{
    height: 200px;
    width:300px;
    margin-top: 20px;
}

#search-results p{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'itim' , cursive;
    padding: 2px;
}

#topic2{
    text-align: center;
    font-family: 'Itim', cursive;
    font-weight: 200;
    font-size: 50px;
    margin-top: 50px;
}

.mealDiv{
    height: 260px;
    width:350px;
    background-color: #ffeeca;
    border: 2px solid rgb(255, 204, 0);
    border-radius: 10px;
}

#close{
    display: flex;
    flex-direction: row;
    margin-left: auto; 
    margin-top: auto;
}


@media (max-width: 768px) {
    #main {
        font-size: 40px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        width: auto;
    }

    #desc {
        margin-top: 50px;
    }

    #desc2 {
        display: none;
    }

    #searchbar {
            width: 90%;
            justify-content: center;
            text-align: center; 
            margin-left: 10px;
    }

    #input {
            width: 50%; 
            margin: 10px;
    }
    #topic{
        margin-left: 100px;
    }
    #randommeal{
        height:auto;
        width: 200px;
        margin-left:90px;
    }
    
    #randommeal:hover{
        opacity: 0.8;
    }
    
    #randommeal-Container img{
        margin-top: 20px;
        height: 200px;
        width: 300px;
        margin-right: 100px;
        border-radius: 2%;
        width: 120%;
        justify-content: center;
        text-align: center; 
    }
    
    #meal-name{
        font-family: 'Itim', cursive;
        font-weight: 900;
        font-size: 20px;
        margin-left: 60px;
    }

    #box{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        background-color: #ffecbd;
        width: 300px;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Itim', cursive;
        text-align: center;
        padding: 20px;   
        overflow: scroll;
    }
}







